@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        @ViewBag.Greeting, future Jedi Knight.
        <p>Soon, we shall see what you are made of... intestines, maybe? <br />
        </p>
        @Html.ActionLink("Ok - sign me up in blood!", "RecruitForm") 
    </div>
</body>
</html>

